*{
    margin: 0px;
    background-color: honeydew;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 500px;
}

h3{
    margin: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container>input{
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: white;
    border-color: aqua;
}

.container>button{
    width: 200px;
    height:30px;
    margin: 5px;
    background-color: aqua;
}

